{% extends 'base.html' %}

{% block head %}
<title>Home Page</title> 
{% endblock %}

{% block body %}
<center>
<div class="container">
    <h1 style="text-align: center;">Home Page</h1>
    <p style="text-align: center;"><a href="/snakegame/right">Snake Game</a></p>
    <p style="text-align: center;"><a href="/button">Button Clicker</a></p>
    <p style="text-align: center;"><a href="/scroll">Text Scroll</a></p>
    <p style="text-align: center;"><a href="/matrix">Matrix Control</a></p>
</div>
</center>
{% endblock %}