{% extends 'base.html' %}

{% block head %}
<title>Time</title> 
{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Time</h1>
    <form style="text-align: center;" action="/pulse" method="post"> <!-- or method="post" -->
        <label for="colorpicker">Color Picker for the strip:</label>
        <input type="color" id="colorpicker" value={{COLOR}} name="ColorChoice">
        <br><br>
        Leds: <input type="text" id="ptext" name="ptext" size="5">
        <br><br>

        <input type="submit" value="submit"/>
    </form>
{% endblock %}