{% extends 'base.html' %}

{% block head %}
<title>Time</title> 
{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Time</h1>
    <form style="text-align: center;" action="/time" method="post"> <!-- or method="post" -->
        <label for="colorpicker">Color Picker for minutes:</label>
        <input type="color" id="colorpicker" value={{COLOR1}} name="Color1">
        <br><br>
        <label for="colorpicker">Color Picker for seconds:</label>
        <input type="color" id="colorpicker" value={{COLOR2}} name="Color2">
        <br><br>
        <input type="submit" value="submit"/>
    </form>
{% endblock %}